/* Styles go here */

.title{
    margin-left: 275px
}

.container{
    height: 500px;
    width: 1000px;
    margin: 0 auto
}
.photo{
    margin-top: 100px;
    height: 300px;
    width: 300px

}
.container-form{
    margin-top: 20px;
}